html, body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

div {
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    font-size: 1.2rem;
}

p {
    margin: 0.5rem;
}

svg {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green {
    color: #77FF77;
}

.salmon {
    color: #FF7777;
}

.blue {
    color: #0000FF;
}

.green,.salmon, .blue {
    font-weight: bold;
    text-shadow: 0 0 0.1rem #000000, 0 0 0.05rem #000000;
}
