html, body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.instructions {
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    font-size: 1rem;
}

.instructions p {
    margin: 0.5rem;
}

.instructions .green {
    color: #77FF77;
}

.instructions .salmon {
    color: #FF7777;
}

.instructions .blue {
    color: #0000FF;
}

.instructions .green,
.instructions .salmon,
.instructions .blue {
    font-weight: bold;
    text-shadow: 0 0 0.1rem #000000, 0 0 0.05rem #000000;
}

svg {
    position: fixed;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
}

.ui p {
    margin: 0;
}

.ui button {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.ui button#clear {
    width: 13rem;
}

.mobile .instructions {
    display: none;
}

.desktop .ui {
    display: none;
}

.mobile .ui {
    top: 80%;
}

.mobile .ui button {
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
}

.mobile .ui button#clear {
    width: 9.5rem;
}
